# Kirby
www/kirby
www/panel
www/site/fields/previewfiles
www/site/fields/index-field
www/site/plugins/xml-sitemap
www/site/plugins/simplemde
www/site/plugins/images
www/site/plugins/meta-tags
www/site/plugins/prevnext
www/site/cache/

# Logs
*.log
php-error.log

# Dependency directories
node_modules/